{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>http:
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="https://placehold.jp/350x150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum distinctio obcaecati, voluptate vitae consequuntur earum!</p>
            <p>Incidunt, magni, beatae ex quae magnam suscipit expedita minus debitis ducimus aperiam deleniti, praesentium animi.</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ex voluptate optio consequuntur nam consectetur maiores aperiam doloribus rem inventore alias repellat, cupiditate, voluptates nobis repellendus atque eius quam rerum, itaque ad vitae asperiores provident. Impedit eligendi magnam repudiandae ab obcaecati ipsum maiores corporis veniam quidem, eveniet, saepe incidunt pariatur.</p>
            <p>Laborum deserunt odio asperiores harum vel repellat unde vitae porro, quidem doloremque, incidunt laboriosam, error mollitia corporis possimus! Dignissimos, voluptatibus velit suscipit, fugiat impedit accusamus quos autem deserunt harum omnis dolorem consequuntur nesciunt optio dicta explicabo quidem! Esse cumque, consequatur nulla voluptates, laborum fugiat deleniti similique eos alias enim laudantium.</p>
        </div>
    </article>
{% endblock %}